@model IEnumerable<ProjetoHotel.Domain.Entities.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Hoteis</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="msg_box msg_box_error">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="msg_box msg_box_success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["WarningMessage"] != null)
{
    <div class="msg_box msg_box_warning">
        @TempData["WarningMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Cadastrar</a>
</p>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Endereco</th>
                <th>Descrição</th>
                <th colspan="2" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.CNPJ)</td>
                    <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" asp-action="editar" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-info" asp-action="gallery" asp-route-hotel_id="@item.Id" title="Galeria"><i class="fas fa-image"></i></a>
                            <form asp-action="deletar" asp-route-id="@item.Id">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <button type="submit" value="Deletar" class="btn btn-danger" title="Deletar"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
